# -*- mode: ruby -*-
# vi: set ft=jinja2 :

Vagrant.configure("2") do |config|
  #===========================================================
  # These settings are defaults for all VMs unless overridden
  #===========================================================
  config.ssh.private_key_path= "{{ vagrant.key_dir }}/vagrant"
  config.vm.box = "debian-11.1.0-default"
  config.vm.synced_folder ".", "/vagrant", disabled: true
  config.vm.synced_folder "labfiles/", "/labfiles", SharedFoldersEnableSymlinksCreate: false
  config.vm.provider :virtualbox do |vboxvm|
    vboxvm.gui = true
    vboxvm.memory = 1024
    vboxvm.customize ["modifyvm", :id, "--vram", "10"]
    vboxvm.customize ["modifyvm", :id, "--vrde", "off"]
    vboxvm.customize ["modifyvm", :id, "--graphicscontroller", "vmsvga"]
{% if ansible_distribution == 'MacOSX' %}
    vboxvm.customize ["setextradata", :id, "GUI/ScaleFactor", "2.0"]
{% endif %}
    # NIC1 is connected to the vagrant management network
    vboxvm.customize ["modifyvm", :id, "--cableconnected1", "on"]
    vboxvm.customize ["modifyvm", :id, "--macaddress1", "auto"]
  end

  #==========================
  # Debian VMs
  #==========================

  (1..3).each do |host|
    config.vm.define "debian#{host}" do |node|
      node.vm.provider "virtualbox" do |vboxvm|
        vboxvm.name = "debian#{host}"
      end
      node.vm.provision :ansible do |ansible|
        ansible.playbook = "ansible/site.yml"
        ansible.raw_arguments = ["-e ansible_python_interpreter=/usr/bin/python3"]
        ansible.skip_tags = "disabled"
        ansible.groups = {
          "foo" => ["bar"]
        }
      end
    end
  end
end
