#version=DEVEL
# System authorization information
auth --enableshadow --enablemd5
# Install OS instead of upgrade
install
# License agreement
eula --agreed
repo --name="epel" --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=epel-7&arch=x86_64
# Use CDROM installation media
cdrom
# Use text mode install
text
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=link --activate
network  --hostname=localhost.localdomain
unsupported_hardware
# Reboot after installation
reboot
# Root password
rootpw --plaintext password
# System services
services --enabled="chronyd"
# System timezone
timezone UTC
user --name=vagrant --password=vagrant
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.60 --fstype="lvmpv" --ondisk=sda --size=19455
volgroup centos --pesize=4096 pv.60
logvol swap  --fstype="swap" --size=1024 --name=swap --vgname=centos
logvol /  --fstype="xfs" --size=10240 --name=root --vgname=centos

%post
systemctl disable initial-setup-graphical
# configure vagrant user in sudoers
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
cp /etc/sudoers /etc/sudoers.orig
sed -i "s/^\(.*requiretty\)$/#\1/" /etc/sudoers
# keep proxy settings through sudo
echo 'Defaults env_keep += "HTTP_PROXY HTTPS_PROXY FTP_PROXY RSYNC_PROXY NO_PROXY"' >> /etc/sudoers
%end

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
bzip2
chrony
curl
dkms
epel-release
gcc
git
kernel-devel
kernel-headers
kexec-tools
kexec-tools
make
net-tools
openssh-clients
patch
perl
wget

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
