#version=RHEL8
ignoredisk --only-use=sda
# System bootloader configuration
#bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda
# License agreement
eula --agreed
# Reboot after installation
reboot --eject
# Use text mode install
text
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --ipv6=auto --onboot=off
network  --hostname=localhost.localdomain
repo --name="epel" --baseurl=https://download.fedoraproject.org/pub/epel/$releasever/Everything/$basearch
repo --name="AppStream" --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=AppStream&infra=$infra
# Use network installation
url --mirrorlist="http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=BaseOS&infra=$infra"
#Root password
rootpw --lock
# X Window System configuration information
xconfig  --startxonboot
firstboot --disable
# System services
services --enabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc
user --groups=wheel --name=user --password=password

%post
chage -d 0 user
yum -y update
#echo '[local]' >> /etc/ansible/hosts
#echo 'localhost ansible_connection=local' >> /etc/ansible/hosts

%end

%packages
@^minimal-environment
ansible
epel-release
git-core

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
