127.0.1.1	{{ inventory_hostname_short }}.{{ mydomain }} {{ inventory_hostname_short }}
127.0.0.1	localhost
::1	localhost ip6-localhost ip6-loopback
fe00::0	ip6-localnet
ff00::0	ip6-mcastprefix
ff02::1	ip6-allnodes
ff02::2	ip6-allrouters
{% for host in groups.all %}
{% if hostvars[host].inventory_hostname_short != inventory_hostname_short %}
{{ hostvars[host].ansible_host }} {{ hostvars[host].inventory_hostname }}.{{ hostvars[host].mydomain }} {{ hostvars[host].inventory_hostname }}
{% endif %}
{% endfor %}
