{% for name, attr in interfaces.items() %}
{% if attr.comment is defined %}
# {{ attr.comment }}
{% endif %}
auto {{ name }}
iface {{ name }} inet {{ attr.method }}
{% if attr.method == "static" %}
  address {{ attr.address }}
  netmask {{ attr.netmask }}
{% if attr.gateway is defined %}
  gateway {{ attr.gateway }}
{% endif %}
{% elif attr.method == "manual" %}
  pre-up ip link set {{ name }} up
{% endif %}
{% if attr.vlans is defined %}
{% for vname, vlan in attr.vlans.items() %}
  post-up ip link add link {{ name }} name {{ name }}.{{ vlan.id }} type vlan id {{ vlan.id }} || true
  #post-up /gns3/bin/busybox ifup -f {{ vname }} || true
  #pre-down /gns3/bin/busybox ifdown -f {{ vname }} || true
  pre-down ip link del dev {{ name }}.{{ vlan.id }} || true
{% endfor %}
  post-down ip link set {{ name }} down
{% for vname, vlan in attr.vlans.items() %}

# {{ vname }} VLAN
iface {{ name }}.{{ vlan.id }} inet {{ vlan.method }}
{% if vlan.method == "static" %}
  address {{ vlan.address }}
  netmask {{ vlan.netmask }}
{% elif vlan.method == "manual" %}
  pre-up ip link set {{ name }}.{{ vlan.id }} up
{% endif %}
{% endfor %}
{% endif %}

{% endfor %}
