---
- name: Assert this host can use this role
  assert:
    that: ansible_distribution in supported_distributions
    fail_msg: "This role is not supported on your host operating system."
- name: Include host distribution specific variables
  include_vars: "{{ ansible_distribution | lower }}.yml"
- name: Ensure the CentOS Vagrantfile exists
  template:
    dest: "{{ demo_root }}/rhcsa/Vagrantfile.centos"
    src: "Vagrantfile.j2"
    mode: 0644
  vars:
    box_name: centos-8.4.2105
    box_iso: CentOS-8.4.2105-x86_64-boot.iso
- name: Ensure the Rocky Vagrantfile exists
  template:
    dest: "{{ demo_root }}/rhcsa/Vagrantfile.rocky"
    src: "Vagrantfile.j2"
    mode: 0644
  vars:
    box_name: rocky-8.4
    box_iso: Rocky-8.4-x86_64-boot.iso
- name: Ensure Vagrantfile is linked to CentOS Vagrantfile (for now)
  file:
    path: "{{ demo_root }}/rhcsa/Vagrantfile"
    src: "{{ demo_root }}/rhcsa/Vagrantfile.rocky"
    state: link
