# Reading Assignment
{% if chapter.title != '' %}
# Chapter {{ chapter_num }}: {{ chapter.title }}
{% if study_guide.notes is defined %}
{{ study_guide.notes }}
{% else %}
This assignment is part of a [self-study course](../README.md) to prepare for the {{ exam.certification }} exam.
{% endif %}
## Primary Resource
Read chapter {{ chapter_num }} of [{{ study_guide.title }}]({{ study_guide.links.amazon }}).{% if study_guide.links.oreilly is defined and chapter.oreilly_page is defined %}  If you have an O'Reilly Online account, you can access the chapter directly [here]({{ study_guide.links.oreilly }}/{{ chapter.oreilly_page }}).{% endif %}
{% if chapter.resources is defined %}

## Addtional Resources
{% for resource in chapter.resources %}
{% if resource.type == "heading" %}

### {{ resource.text }}
{% if resource.note is defined %}
{{ resource.note }}
{% endif %}
{% endif %}
{% if resource.type == "subheading" %}

#### {{ resource.text }}
{% if resource.note is defined %}
{{ resource.note }}
{% endif %}
{% endif %}
{% if resource.type == "link" %}
- [{{ resource.text }}]({{ resource.url }})
{% endif %}
{% endfor %}
{% endif %}
{% if chapter.labs is defined %}

## Labs
{% for lab in chapter.labs %}
[lab{{ chapter_num }}-{{ loop.index }}: {{ lab.title }}](lab{{ chapter_num }}-{{ loop.index }}.md)</br>
{% endfor %}
{% endif %}
{% else %}
# Sorry, there is no assignment page for chapter {{ chapter_num }} yet
You may mark this assignment as completed in your workbook.

# === U N D E R   C O N S T R U C T I O N ===
{% endif %}
