"Due Date"	"Assignment"	"Last Page"	"Pages"	"% Complete"	"Scheduling Notes"
{% set read = namespace(pages=0) %}
{% for chapter in study_guide.chapters %}
{% set pages = chapter.lastpage - read.pages %}
{% set percent_complete = '%6.2f'|format(chapter.lastpage * 100 / study_guide.totalpages) %}
""	=hyperlink("{{ repo }}/{{ course }}/coursefiles/chapter{{ loop.index }}/README.md","Chapter {{ loop.index }}: {{ chapter.title }}")	"{{ chapter.lastpage }}"	"{{ pages }}"	"{{ percent_complete }}"	""
{% set read.pages = chapter.lastpage %}
{% endfor %}
