"Due Date"	"Assignment"	"Last Page"	"Pages"	"% Complete"	"Scheduling Notes"
{% set read = namespace(pages=0) %}
{% for chapter in study_guide.chapters %}
{% set pages = chapter.lastpage - read.pages %}
{% set percent_complete = '%6.2f'|format(chapter.lastpage * 100 / study_guide.totalpages) %}
{% if loop.first %}
""	=hyperlink("{{ repo }}/blob/master/{{ course }}/{{ contentdir }}/README.md","{{ chapter.title }}")	""	""	""	""
{% else %}
""	=hyperlink("{{ repo }}/blob/master/{{ course }}/{{ contentdir }}/chapter{{ loop.index - 1 }}/README.md","Chapter {{ loop.index - 1 }}: {{ chapter.title }}")	"{{ chapter.lastpage }}"	"{{ pages }}"	"{{ percent_complete }}"	""
{% endif %}
{% set read.pages = chapter.lastpage %}
{% endfor %}
