[VPCS]
vpcs_path = /Applications/GNS3.app/Contents/MacOS/vpcs

[Dynamips]
dynamips_path = /Applications/GNS3.app/Contents/MacOS/dynamips
sparse_memory_support = True
allocate_aux_console_ports = False
mmap_support = True
ghost_ios_support = True

[IOU]
iouyap_path = 
license_check = True
iourc_path = 

[VirtualBox]
vbox_user = 
vboxmanage_path = /Applications/VirtualBox.app/Contents/MacOS/VBoxManage

[Server]
host = 192.168.56.1
port = 8000
auth = True
user = admin
password = iCc8pY6zFfn1Y3jSmXl3fAlV95SeeDFyx4BR8KPY0NZRjekNfPQ6riT6RV2iT748
images_path = {{ gns3_user_dir }}/GNS3/images
projects_path = {{ gns3_user_dir }}/GNS3/projects
console_start_port_range = 2001
console_end_port_range = 5000
udp_start_port_range = 10000
udp_start_end_range = 20000
report_errors = True
path = /Applications/GNS3.app/Contents/MacOS/gns3server
ubridge_path = /Applications/GNS3.app/Contents/MacOS/ubridge
appliances_path = {{ gns3_user_dir }}/GNS3/appliances
additional_images_paths = 
symbols_path = {{ gns3_user_dir }}/GNS3/symbols
configs_path = {{ gns3_user_dir }}/GNS3/configs
auto_start = True
allow_console_from_anywhere = False
protocol = http
udp_end_port_range = 20000

