{
    "computes": [],
    "templates": [
        {
            "name": "debian1",
            "vmname": "debian1",
            "default_name_format": "{name}-{0}",
            "usage": "",
            "symbol": ":/symbols/affinity/square/gray/vm.svg",
            "category": "guest",
            "port_name_format": "Ethernet{0}",
            "port_segment_size": 0,
            "first_port_name": "",
            "custom_adapters": [],
            "adapters": 1,
            "ram": 1024,
            "use_any_adapter": true,
            "adapter_type": "Paravirtualized Network (virtio-net)",
            "headless": false,
            "on_close": "power_off",
            "linked_clone": false,
            "console_type": "none",
            "console_auto_start": false,
            "compute_id": "local",
            "template_id": "12274bd9-c483-45ad-a7dd-ec07ab3168f8",
            "template_type": "virtualbox",
            "builtin": false
        },
        {
            "name": "debian2",
            "vmname": "debian2",
            "default_name_format": "{name}-{0}",
            "usage": "",
            "symbol": ":/symbols/affinity/square/gray/vm.svg",
            "category": "guest",
            "port_name_format": "Ethernet{0}",
            "port_segment_size": 0,
            "first_port_name": "",
            "custom_adapters": [],
            "adapters": 1,
            "ram": 1024,
            "use_any_adapter": true,
            "adapter_type": "Paravirtualized Network (virtio-net)",
            "headless": false,
            "on_close": "power_off",
            "linked_clone": false,
            "console_type": "none",
            "console_auto_start": false,
            "compute_id": "local",
            "template_id": "9c99f997-5425-4fc0-a7e7-062c3309f845",
            "template_type": "virtualbox",
            "builtin": false
        },
        {
            "name": "debian3",
            "vmname": "debian3",
            "default_name_format": "{name}-{0}",
            "usage": "",
            "symbol": ":/symbols/affinity/square/gray/vm.svg",
            "category": "guest",
            "port_name_format": "Ethernet{0}",
            "port_segment_size": 0,
            "first_port_name": "",
            "custom_adapters": [],
            "adapters": 1,
            "ram": 1024,
            "use_any_adapter": true,
            "adapter_type": "Paravirtualized Network (virtio-net)",
            "headless": false,
            "on_close": "power_off",
            "linked_clone": false,
            "console_type": "none",
            "console_auto_start": false,
            "compute_id": "local",
            "template_id": "48b0a996-0a6b-4539-957b-cd5e9781274f",
            "template_type": "virtualbox",
            "builtin": false
        }
    ],
    "gns3vm": {
        "vmname": "GNS3 VM",
        "when_exit": "stop",
        "headless": false,
        "enable": true,
        "engine": "virtualbox",
        "ram": 2048,
        "vcpus": 1,
        "port": 80
    },
    "iou_license": {
        "iourc_content": "",
        "license_check": true
    },
    "appliances_etag": null,
    "version": "2.2.9"
}
