=== RHCE (EX294) LAB xx: (Unfinished)

OBJECTIVE:

Spell out the lab objective here.

SETUP:

Describe which hosts will be used here and list any setup steps.

STEPS:

Describe the steps needed to complete the lab in non-specific terms (i.e. give
tasks to complete, not commands to run.

Optionally, include instructions to verify work.
