#version=RHEL8
# CentOS 8.x kickstart file - Minimal8-ks.cfg
#
# For more information on kickstart syntax and commands, refer to the
# CentOS Installation Guide:
# https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/8/html/Installation_Guide/sect-kickstart-syntax.html
#
# For testing, you can fire up a local http server temporarily.
# cd to the directory where this ks.cfg file resides and run the following:
#    $ python -m SimpleHTTPServer
# You don't have to restart the server every time you make changes.  Python
# will reload the file from disk every time.  As long as you save your changes
# they will be reflected in the next HTTP download.  Then to test with
# a PXE boot server, enter the following on the PXE boot prompt:
#    > linux text ks=http://<your_ip>:8000/ks.cfg

# === Disk Configuration
ignoredisk --only-use=vda
# Bootloader
bootloader --location=mbr --append=" crashkernel=auto" --boot-drive=vda
zerombr
# Partition clearing information
clearpart --all --initlabel --drives=vda
part /boot --fstype="xfs" --ondisk=vda --size=1024
part pv.01 --grow --ondisk=vda --size=1
# LVM
volgroup centos pv.01
logvol / --vgname="centos" --fstype="xfs" --size=10240 --name=root
logvol swap --vgname="centos" --fstype="swap" --size=1024 --name=swap
# License agreement
eula --agreed
# Reboot after installation
reboot --eject
# Use text mode install
text
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
repo --name="epel" --baseurl=https://download.fedoraproject.org/pub/epel/8/Everything/x86_64/
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp
network --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network --bootproto=dhcp --hostname=localhost.localdomain
#Root password
rootpw password
# System authorization information
auth --enableshadow --passalgo=sha512
# X Window System configuration information
skipx
firstboot --disable
# System services
services --enabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc
user --groups=wheel --name=vagrant --plaintext --password vagrant

%post
yum -y update
mkdir -p /etc/ansible
echo '[local]' >> /etc/ansible/hosts
echo 'localhost ansible_connection=local' >> /etc/ansible/hosts
echo 'Defaults env_keep += "HTTP_PROXY HTTPS_PROXY FTP_PROXY RSYNC_PROXY NO_PROXY"' >> /etc/sudoers
python3 -m pip install ansible
%end

%packages
@^minimal-environment
nfs-utils
net-tools
epel-release
git
kexec-tools
vim
-iwl*-firmware
# until ansible is packaged in EPEL 8...
python3-pip

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
