# CentOS 7.x kickstart file - ServerWithGUI-ks.cfg
#
# For more information on kickstart syntax and commands, refer to the
# CentOS Installation Guide:
# https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Installation_Guide/sect-kickstart-syntax.html
#
# For testing, you can fire up a local http server temporarily.
# cd to the directory where this ks.cfg file resides and run the following:
#    $ python -m SimpleHTTPServer
# You don't have to restart the server every time you make changes.  Python
# will reload the file from disk every time.  As long as you save your changes
# they will be reflected in the next HTTP download.  Then to test with
# a PXE boot server, enter the following on the PXE boot prompt:
#    > linux text ks=http://<your_ip>:8000/ks.cfg

# Required settings
lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts='us'
rootpw password
authconfig --enableshadow --enablemd5
timezone UTC

# Optional settings
install
cdrom
user --name=vagrant --plaintext --password vagrant
unsupported_hardware
network --bootproto=dhcp
eula --agreed
xconfig --startxonboot

# epel
repo --name="epel" --mirrorlist="https://mirrors.fedoraproject.org/metalink?repo=epel-7&arch=x86_64"

# === Disk Configuration
# Bootloader
bootloader --location=mbr --append=" crashkernel=auto" --boot-drive=sda
zerombr
# Partitions
clearpart --all --initlabel
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.01 --grow --ondisk=sda --size=1
# LVM
volgroup centos pv.01
#logvol /home --vgname="centos" --fstype="xfs" --size=4096 --name=home
#logvol / --vgname="centos" --fstype="xfs" --size=1 --grow --name=root
logvol / --vgname="centos" --fstype="xfs" --size=10240 --name=root
logvol swap --vgname="centos" --fstype="swap" --size=1024 --name=swap

firstboot --disabled
reboot

%packages
# Packaged from manual install of RHCx VMs
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools

# vagrant needs this to copy initial files via scp
openssh-clients
# Prerequisites for installing VMware Tools or VirtualBox guest additions.
# Put in kickstart to ensure first version installed is from install disk,
# not latest from a mirror.
epel-release
kernel-headers
kernel-devel
gcc
make
perl
curl
wget
bzip2
dkms
patch
net-tools
git
%end

%post
systemctl disable initial-setup-graphical
# configure vagrant user in sudoers
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
cp /etc/sudoers /etc/sudoers.orig
sed -i "s/^\(.*requiretty\)$/#\1/" /etc/sudoers
# keep proxy settings through sudo
echo 'Defaults env_keep += "HTTP_PROXY HTTPS_PROXY FTP_PROXY RSYNC_PROXY NO_PROXY"' >> /etc/sudoers
%end
