[defaults]
inventory = inv.yml
host_key_checking = false
ansible_user = ansible
ansible_ssh_private_key_file = /root/.ssh/ansible
interpreter_python = /usr/bin/python3
display_skipped_hosts = false
roles_path = ../../roles
