{
    "computes": [],
    "templates": [],
    "gns3vm": {
        "vmname": "GNS3 VM",
        "when_exit": "stop",
        "headless": false,
        "enable": true,
        "engine": "virtualbox",
        "ram": 2048,
        "vcpus": 1,
        "port": 80
    },
    "iou_license": {
        "iourc_content": "",
        "license_check": true
    },
    "appliances_etag": null,
    "version": "2.2.9"
}
