[defaults]
inventory = inv.yml
ansible_python_interpreter = /usr/bin/python3
roles_path = ./roles
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
