auth-server=networkplus.test,eth0
interface-name=networkplus.test,eth0
auth-zone=networkplus.test,192.168.0.0/16,eth0
domain-needed
bogus-priv
no-resolv
interface=eth0
bind-interfaces
server=8.8.8.8
local=/networkplus.test/192.168.44.1
rev-server=192.168.0.0/16,192.168.44.1
cname=dns.networkplus.test,dns1.networkplus.test
cname=dhcp.networkplus.test,dns1.networkplus.test
cname=pxe.networkplus.test,dns1.networkplus.test
cname=www.networkplus.test,www1.networkplus.test
#==========
# default VLAN
#==========
domain=networkplus.test,192.168.0.0/16,local
dhcp-range=set:default_vlan,192.168.45.100,192.168.45.150,255.255.255.0,4h
dhcp-option=tag:default_vlan,option:router,192.168.45.254
dhcp-option=tag:default_vlan,option:dns-server,192.168.44.1
dhcp-option=tag:default_vlan,option:domain-search,networkplus.test
dhcp-option-force=tag:default_vlan,option:tftp-server,pxe.networkplus.test
dhcp-option-force=tag:default_vlan,option:bootfile-name,somebootablefile
#==========
# Eng VLAN
#==========
domain=eng.networkplus.test,192.168.46.0/24,local
dhcp-range=set:eng_vlan,192.168.46.100,192.168.46.150,255.255.255.0,4h
dhcp-option=tag:eng_vlan,option:router,192.168.46.254
dhcp-option=tag:eng_vlan,option:dns-server,192.168.44.1
dhcp-option=tag:eng_vlan,option:domain-search,eng.networkplus.test,lab.networkplus.test,networkplus.test
#==========
# Lab VLAN
#==========
domain=lab.networkplus.test,192.168.47.0/24,local
dhcp-range=set:lab_vlan,192.168.47.100,192.168.47.150,255.255.255.0,4h
dhcp-option=tag:lab_vlan,option:router,192.168.47.254
dhcp-option=tag:lab_vlan,option:dns-server,192.168.44.1
dhcp-option=tag:lab_vlan,option:domain-search,lab.networkplus.test
