# -*- mode: ruby -*-
# vi: set ft=jinja2 :

Vagrant.configure("2") do |config|
  config.ssh.private_key_path = "{{ key_dir }}/vagrant"
  # These are the VM configuration defaults when not overridden
  config.vm.box = "centos-8.3.2011"
  config.vm.synced_folder "labfiles/", "/labfiles"
  config.vm.synced_folder ".", "/vagrant", disabled: true
  {% if virtualization == "virtualbox" %}
  config.vm.provider :virtualbox do |vboxvm|
    vboxvm.gui = false
    vboxvm.memory = 1024
    vboxvm.customize ["modifyvm", :id, "--firmware", "EFI"]
    vboxvm.customize ["modifyvm", :id, "--cableconnected1", "on"]
    vboxvm.customize ["modifyvm", :id, "--nic2", "natnetwork"]
    vboxvm.customize ["modifyvm", :id, "--nat-network2", "RHCSA Network"]
    {% if ansible_distribution == 'MacOSX' %}
    vboxvm.customize ["setextradata", :id, "GUI/ScaleFactor", "2.0"]
    {% endif %}
  end
  {% elif virtualization == "libvirt" %}
  config.vm.network :private_network,
    :type => "dhcp",
    :libvirt__network_name => "vagrant-private-dhcp",
    :libvirt__domain_name => "example.com",
    :libvirt__network_address => "192.168.4.0",
    :libvirt__netmask => "255.255.255.0",
    :libvirt__dhcp_enabled => true,
    :libvirt__host_ip => "192.168.4.1",
    :libvirt__dhcp_start => "192.168.4.2",
    :libvirt__dhcp_stop => "192.168.4.99",
    :libvirt__dhcp_bootp_file => "pxelinux/pxelinux.0",
    :libvirt__dhcp_bootp_server => "192.168.4.102"
  config.vm.provider :libvirt do |libvirt|
    libvirt.driver = "kvm"
    libvirt.host = "localhost"
    libvirt.uri = 'qemu:///system'
    libvirt.memory = 1024
  end
  {% endif %}
  config.vm.provision :ansible do |ansible|
    ansible.playbook = "ansible/vagrant-vm-playbook.yml"
    ansible.skip_tags = "disabled"
    ansible.groups = {
      "rhce8_vms" => [
        "labipa",
        "control",
        "ansible1",
        "ansible2",
        "ansible3",
        "ansible4"
      ],
      "nfs_servers" => [
        "labipa"
      ],
      "ftp_servers" => [
        "labipa"
      ],
      "samba_servers" => [
        "labipa"
      ],
      "ipa_servers" => [
        "labipa"
      ],
      "krb5_clients" => [
        "labipa"
      ]
    }
  end

  #==============================
  #==  CentOS 8.x Lab Machines ==
  #==============================
  #=== labipa ===
  config.vm.define "labipa" do |node|
    node.vm.box = "centos-8.3.2011"
    {% if virtualization == "virtualbox" %}
    node.vm.provider :virtualbox do |virtualbox|
      virtualbox.name = "labipa"
      virtualbox.memory = 2048
    end
    {% elif virtualization == "libvirt" %}
    node.vm.provider :libvirt do |libvirt|
      libvirt.memory = 2048
    end
    {% endif %}
  end

  #=============================================
  #==  Machines for practice RHCE 8 practice  ==
  #=============================================
  #=== control ===
  config.vm.define "control" do |node|
  end

  #=== ansible1 ===
  config.vm.define "ansible1" do |node|
  end

  #=== ansible2 ===
  config.vm.define "ansible2" do |node|
  end

  #=== ansible3 ===
  config.vm.define "ansible3" do |node|
  end

  #=== ansible4 ===
  config.vm.define "ansible4" do |node|
  end
end
