#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Installation source
url --url http://mirror.centos.org/centos/7/os/x86_64
# no need for a graphical install if its automated
text
# Setup Agent not needed when using configuration management
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF8

# Misc. config
eula --agreed
repo --name=epel --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64/

# Network information
network --bootproto=dhcp --device=enp0s8 --ipv6=auto --activate
network --device=lo --hostname=localhost.localdomain

# Root password (only used for first login which forces password change)
rootpw --plaintext root
# System services
services --enabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm --encrypted --passphrase=root
clearpart --all --initlabel --drives=sda
xconfig --startxonboot

# Eject the media and reboot when finished
reboot

%packages
@^gnome-desktop-environment
@base
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@x11
-gnome-initial-setup
chrony
kexec-tools
git
gcc
epel-release
python2-pip
python-devel
openssl-devel
sshpass
%end

%post
chage -d 0 root

# Install Ansible
pip install --upgrade pip                                                        
pip install ansible                                                              
mkdir /etc/ansible
echo '[defaults]' > /etc/ansible/ansible.cfg
echo 'host_key_checking = False' >> /etc/ansible/ansible.cfg
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
