<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.user.loginscript</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-c</string>
      <string>{{ ansible_user_dir }}/.vboxnet/vboxnet.zsh</string>
    </array>
    <key>StandardOutPath</key>
    <string>{{ ansible_user_dir }}/.vboxnet/vboxnet.stdout</string>
    <key>StandardErrorPath</key>
    <string>{{ ansible_user_dir }}/.vboxnet/vboxnet.stderr</string>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
