[VPCS]
vpcs_path = {{ gns3_bin_dir }}/vpcs

[Dynamips]
dynamips_path = {{ gns3_bin_dir }}/dynamips
sparse_memory_support = True
allocate_aux_console_ports = False
mmap_support = True
ghost_ios_support = True

[IOU]
iouyap_path = 
license_check = True
iourc_path = 

[VirtualBox]
vbox_user = 
vboxmanage_path = {{ vboxmanage_path }}

[Server]
host = {{ gns3_server_host }}
port = {{ gns3_server_port }}
auth = True
user = admin
password = Uq1GMJsioJrJUfAPynyiLCKFiIdGzisQ56FmdAtQ37aQlLPbd6IupX5BzPXdzszK
report_errors = True
auto_start = True
allow_console_from_anywhere = False
protocol = http
console_start_port_range = 5000
console_end_port_range = 10000
udp_start_port_range = 10000
udp_end_port_range = 20000
path = {{ gns3_server_path }}
ubridge_path = {{ gns3_bin_dir }}/ubridge
additional_images_paths = 
appliances_path = {{ ansible_user_dir }}/GNS3/appliances
configs_path = {{ ansible_user_dir }}/GNS3/configs
images_path = {{ ansible_user_dir }}/GNS3/images
projects_path = {{ ansible_user_dir }}/GNS3/projects
symbols_path = {{ ansible_user_dir }}/GNS3/symbols
