#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use a text install instead of a graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Misc. Config
eula --agreed

# Network information
network  --bootproto=dhcp --device=enp0s31f6 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$KvISjQv8rWD6HYp.$GIeUw4WqzGNFkGrQJiQfEqfado.w7jl9tXdvSpaxApPiS3GxrRF1wE.L3wqTYYH/GxzhLCDDlIr.fohn.26C4/
# System services
services --enabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

#Eject the media and reboot when finished
reboot --eject

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools
git
vim
@Virtualization Tools
@Virtualization Platform
@Virtualization
-qemu-kvm
-qemu-guest-agent
-qemu-kvm-tools
-qemu-guest-agent
-qemu-kvm-tools

%end

%post
chage -d 0 root
# Install Ansible
pip install --upgrade pip
pip install ansible
mkdir /etc/ansible
echo '[defaults]' > /etc/ansible/ansible.cfg
echo 'host_key_checking = False' >> /etc/ansible/ansible.cfg
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
