#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use a text install instead of a graphical install
text
# Run the Setup Agent on first boot
firstboot --disable
#ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Misc. Config
eula --agreed
repo --name=epel --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64/

# Network information
network  --bootproto=dhcp --device=enp0s31f6 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password (only used for first login which forces password change)
rootpw --plaintext password
# System services
services --enabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc
# Creating a User
user --name=user --groups=wheel --plaintext --password=password
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

#Eject the media and reboot when finished
reboot --eject

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools
vim
git
epel-release
ansible
chromium

%end

%post
chage -d 0 root
chage -d 0 user
yum -y update

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
