#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
firstboot --disable
ignoredisk --only-use=mmcblk0
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$Dejx5lRP$HszJfNboJAKX7B/75mBHa.
# System language
lang en_US
#Misc. Config
eula --agreed
repo --name="epel" --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
firstboot --disable
# SELinux configuration
selinux --disabled

# Start graphical Interface after install
xconfig --startxonboot
# Network information
network --bootproto=dhcp --device=enp2s0
network --hostname=udoo.localdomain
# Reboot after installation
reboot
# System timezone
timezone America/Los_Angeles
# System bootloader configuration
bootloader --location=partition
autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel --drive=mmcblk0

# Eject media
reboot --eject

%packages
@^minimal
@core
@base
kexec-tools
chrony
@fonts
@multimedia
@virtualization-hypervisor
@virtualization-client
@^graphical-server-environment
%end

%post 
chage -d 0 root
%end
