hostname {{ ansible_hostname }}
password zebra
enable password zebra
!
log stdout
log monitor informational
!
{% if quagga.ospfd_interfaces is defined %}
{% for iface in quagga.ospfd_interfaces %}
interface {{ iface.name }}
 ip ospf cost {{ iface.ospf_cost }}
!
{% endfor %}
!
{% endif %}
{% if quagga.ospfd is defined %}
router ospf
{% for line in quagga.ospfd %}
{{ line }}
{% endfor %}
{% endif %}
