hostname {{ ansible_hostname }}
password zebra
enable password zebra
!
log stdout
log monitor informational
!
{% if quagga.ospfd is defined %}
router ospf
{% for line in quagga.ospfd %}
{{ line }}
{% endfor %}
{% endif %}
