hostname {{ ansible_hostname }}
password zebra
enable password zebra
log stdout
log monitor informational
!
{% if quagga.zebra is defined %}
{% for line in quagga.zebra %}
{{ line }}
{% endfor %}
{% endif %}
