{
  "variables": {
    "username": "{{ vagrant.provisioning_user }}",
    "password": "{{ vagrant.provisioning_password }}",
    "checksum": "{{ iso_checksum }}"
  },
  "builders": [{
    "vm_name": "{{ box }}",
    "type": "virtualbox-iso",
    "guest_os_type": "{{ guest_os_type }}",
    "iso_urls": [
      "{{ user.download_dir }}/{{ iso_name }}",
      "{{ iso_location }}/{{ iso_name }}",
      "{{ iso_altlocation }}/{{ iso_name }}"
    ],
    "iso_checksum": "{{ '{{' }} user `checksum` }}",
    "iso_target_path": "{{ user.download_dir }}/{{ iso_name }}",

    "http_directory" : ".",
    "http_port_min" : 9001,
    "http_port_max" : 9001,

    "ssh_username": "{{ vagrant.provisioning_user }}",
    "ssh_password": "{{ vagrant.provisioning_password }}",
    "ssh_wait_timeout": "60m",
    "headless": {{ packer.headless }},

    "cpus": "{{ packer.build_vm.cpus }}",
    "memory": {{ packer.build_vm.ram }},
    "disk_size" : "{{ packer.build_vm.disk_size }}",
    "hard_drive_interface": "sata",
    "sata_port_count": 4,
    "hard_drive_nonrotational": true,

    {% if host.virtualization == "virtualbox" %}
    {# Note: We actually want all the {{ ... }} in this JSON block
             in the output so we are escaping the block between {% raw %}
             and {% endraw %}
    #}
    {% raw %}
    "vboxmanage": [
      ["modifyvm", "{{.Name}}", "--vram", "10"],
      ["modifyvm", "{{.Name}}", "--vrde", "off"],
      ["modifyvm", "{{.Name}}", "--graphicscontroller", "vmsvga"],
      ["setextradata", "{{.Name}}", "GUI/ScaleFactor", "3.0"]
    ],
    {% endraw %}
    {% endif %}
    "boot_wait": "10s",
    "boot_command": [
        "<esc><wait>",
        "install <wait>",
        " preseed/url=http://{{ '{{' }} .HTTPIP }}:{{ '{{' }} .HTTPPort }}/{{ install_file }} <wait>",
        "debian-installer=en_US.UTF-8 <wait>",
        "auto <wait>",
        "locale=en_US.UTF-8 <wait>",
        "kbd-chooser/method=us <wait>",
        "keyboard-configuration/xkb-keymap=us <wait>",
        "netcfg/get_hostname={{ '{{' }} .Name }} <wait>",
        "netcfg/get_domain=vagrantup.com <wait>",
        "fb=false <wait>",
        "debconf/frontend=noninteractive <wait>",
        "console-setup/ask_detect=false <wait>",
        "console-keymaps-at/keymap=us <wait>",
        "grub-installer/bootdev=/dev/sda <wait>",
        "<enter><wait>"
    ],
    "shutdown_command": "echo {{ vagrant.provisioning_password }} | sudo -S shutdown -P now"
  }],
  "provisioners": [
    {  "type": "file",
       "source": "{{ user.key_dir }}/{{ vagrant.provisioning_user }}.pub",
       "destination": "/tmp/{{ vagrant.provisioning_user }}.pub"
    },
    {  "type": "shell",
       "inline": ["mkdir -m 0700 /home/{{ vagrant.provisioning_user }}/.ssh",
                  "mv /tmp/{{ vagrant.provisioning_user }}.pub /home/{{ vagrant.provisioning_user }}/.ssh/authorized_keys",
                  "chmod 644 /home/{{ vagrant.provisioning_user }}/.ssh/authorized_keys"]
    },
    {  "type": "shell",
       "execute_command": "echo '{{ vagrant.provisioning_password }}' | {{ '{{' }} .Vars }} sudo -E -S sh -c '{{ '{{' }} .Path }}'",
       "inline": [ "echo '{{ vagrant.provisioning_user }} ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/{{ vagrant.provisioning_user }}",
                  "chmod 0440 /etc/sudoers.d/{{ vagrant.provisioning_user }}"]
    },
    {  "type": "shell",
       "execute_command": "echo '{{ vagrant.provisioning_password }}' | {{ '{{' }} .Vars }} sudo -E -S sh -c '{{ '{{' }} .Path }}'",
       "inline": [ "apt-get install -y python3-apt" ]
    },
    {  "type": "shell",
       "only": [ "virtualbox-iso" ],
       "execute_command": "echo '{{ vagrant.provisioning_password }}' | {{ '{{' }} .Vars }} sudo -E -S sh -c '{{ '{{' }} .Path }}'",
       "inline": [ "mount -t iso9660 -o ro /home/{{ vagrant.provisioning_user }}/VBoxGuestAdditions.iso /mnt",
                   "cd /mnt",
                   "apt-get install -y linux-headers-$(uname -r)",
                   "./VBoxLinuxAdditions.run || /bin/true"]
    }
  ],
  "post-processors": [{
    "type": "vagrant",
    "output": "{{ box }}.box"
  }]
}
