{
  "builders": [{
    "type": "virtualbox-iso",
    "guest_os_type": "{{ guest_os_type }}",
    "iso_urls": [
      "{{ download_dir }}/{{ iso_name }}",
      "{{ iso_location }}/{{ iso_name }}"
    {% if iso_altlocation is defined %}
      ",{{ iso_altlocation }}/{{ iso_name }}"
    {% endif %}
    ],
    "iso_checksum": "{{ iso_checksum }}",
    "iso_target_path": "{{ download_dir }}/{{ iso_name }}",

    "http_directory" : ".",
    "http_port_min" : 9001,
    "http_port_max" : 9001,

    "ssh_username": "vagrant",
    "ssh_password": "vagrant",
    "ssh_wait_timeout": "40m",
    "disk_size" : "{{ disk_size }}",
    "memory": {{ ram }},
    "vm_name": "{{ box }}",
    "headless": true,
    "hard_drive_interface": "sata",
    "sata_port_count": 4,
    "hard_drive_nonrotational": true,

    {% if virtualization == "virtualbox" %}
    {# Note: We actually want all the {{ ... }} in this JSON block
             in the output so we are escaping the block between {% raw %}
             and {% endraw %}
    #}
    {% raw %}
    "vboxmanage": [
      ["modifyvm", "{{.Name}}", "--vram", "64"],
      ["modifyvm", "{{.Name}}", "--vrde", "off"],
      ["modifyvm", "{{.Name}}", "--graphicscontroller", "vmsvga"],
      ["modifyvm", "{{.Name}}", "--firmware", "EFI"],
      ["setextradata", "{{.Name}}", "GUI/ScaleFactor", "2.0"]
    ],
    {% endraw %}
    {% endif %}
    "boot_command": [
    {# Using {{ '{{' }} escapes the {{ so we can have it in the output #}
      "e<down><down><leftCtrlOn>e<leftCtrlOff><bs><bs><bs><bs><bs>text inst.ks=http://{{ '{{' }} .HTTPIP }}:{{ '{{' }} .HTTPPort }}/{{ install_file }}<leftCtrlOn>x"
    ],
    "shutdown_command": "echo vagrant | sudo -S shutdown -P now"
  }],
  "provisioners": [
    {  "type": "file",
       "source": "{{ key_dir }}/vagrant.pub",
       "destination": "/tmp/vagrant.pub"
    },
    {% raw %}
    {  "type": "shell",
       "inline": ["mkdir -m 0700 /home/vagrant/.ssh",
                  "mv /tmp/vagrant.pub /home/vagrant/.ssh/authorized_keys",
                  "chmod 644 /home/vagrant/.ssh/authorized_keys"]
    },
    {  "type": "shell",
       "execute_command": "echo 'vagrant' | {{ .Vars }} sudo -E -S sh -c '{{ .Path }}'",
       "inline": [ "echo 'vagrant ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/vagrant",
                  "chmod 0440 /etc/sudoers.d/vagrant"]
    },
    {  "type": "shell",
       "execute_command": "echo 'vagrant' | {{ .Vars }} sudo -E -S sh -c '{{ .Path }}'",
       "inline": [ "yum -y install epel-release"]
    },
    {  "type": "shell",
       "execute_command": "echo 'vagrant' | {{ .Vars }} sudo -E -S sh -c '{{ .Path }}'",
       "inline": [ "yum -y install bzip2 make dkms kernel-devel"]
    },
    {  "type": "shell",
       "execute_command": "echo 'vagrant' | {{ .Vars }} sudo -E -S sh -c '{{ .Path }}'",
       "inline": [ "yum -y update"]
    },
    {  "type": "shell",
       "execute_command": "echo 'vagrant' | {{ .Vars }} sudo -E -S sh -c '{{ .Path }}'",
       "inline": [ "reboot"],
       "expect_disconnect": true,
       "pause_before": "10s"
    },
    {  "type": "shell",
       "only": [ "virtualbox-iso" ],
       "execute_command": "echo 'vagrant' | {{ .Vars }} sudo -E -S sh -c '{{ .Path }}'",
       "inline": [ "mount -t iso9660 -o ro /home/vagrant/VBoxGuestAdditions.iso /mnt",
                   "cd /mnt",
                   "./VBoxLinuxAdditions.run"]
    }
    {% endraw %}
  ],
  "post-processors": [{
    "type": "vagrant",
    "output": "{{ box }}.box"
  }]
}
