{
  "builders": [{
    "type": "virtualbox-iso",
    "guest_os_type": "{{ guest_os_type }}",
    "iso_urls": [
      "{{ user.download_dir }}/{{ iso_name }}",
      "{{ iso_location }}/{{ iso_name }}"{% if iso_altlocation is defined and iso_altlocation != 'none' %},
      "{{ iso_altlocation }}/{{ iso_name }}"{% endif +%}
    ],
    "iso_checksum": "{{ iso_checksum }}",
    "iso_target_path": "{{ user.download_dir }}/{{ iso_name }}",

    "http_directory" : ".",
    "http_port_min" : 9001,
    "http_port_max" : 9001,

    "ssh_username": "{{ vagrant.provisioning_user }}",
    "ssh_password": "{{ vagrant.provisioning_password }}",
    "ssh_wait_timeout": "40m",
    "disk_size" : "{{ packer.build_vm.disk_size }}",
    "cpus": "{{ packer.build_vm.cpus }}",
    "memory": {{ packer.build_vm.ram }},
    "vm_name": "{{ distro }}-{{ version }}-{{ configuration }}",
    "headless": {{ packer.headless }},
    "hard_drive_interface": "sata",
    "sata_port_count": 4,
    "hard_drive_nonrotational": true,
{% if host.virtualization == "virtualbox" %}
{# Note: We actually want all the {{ ... }} in this JSON block
         in the output so we are escaping the block between {% raw %}
         and {% endraw %}
#}
{% raw %}
    "vboxmanage": [
      ["modifyvm", "{{.Name}}", "--vram", "64"],
      ["modifyvm", "{{.Name}}", "--vrde", "off"],
      ["modifyvm", "{{.Name}}", "--graphicscontroller", "vmsvga"],
      ["modifyvm", "{{.Name}}", "--firmware", "EFI"],
      ["setextradata", "{{.Name}}", "GUI/ScaleFactor", "2.0"]
    ],
    {% endraw %}
    {% endif %}
    "boot_command": [
    {# Using {{ '{{' }} escapes the {{ so we can have it in the output #}
      "e<down><down><leftCtrlOn>e<leftCtrlOff><bs><bs><bs><bs><bs>text inst.ks=http://{{ '{{' }} .HTTPIP }}:{{ '{{' }} .HTTPPort }}/{{ distro }}-{{ version }}-{{ configuration }}-ks.cfg<leftCtrlOn>x"
    ],
    "shutdown_command": "echo {{ vagrant.provisioning_password }} | sudo -S shutdown -P now"
  }],
  "provisioners": [
    {  "type": "file",
       "source": "{{ user.key_dir }}/{{ vagrant.provisioning_user }}.pub",
       "destination": "/tmp/{{ vagrant.provisioning_user }}.pub"
    },
    {  "type": "shell",
       "inline": ["mkdir -m 0700 /home/{{ vagrant.provisioning_user }}/.ssh",
                  "mv /tmp/{{ vagrant.provisioning_user }}.pub /home/{{ vagrant.provisioning_user }}/.ssh/authorized_keys",
                  "chmod 644 /home/{{ vagrant.provisioning_user }}/.ssh/authorized_keys"]
    },
    {  "type": "shell",
       "execute_command": "echo '{{ vagrant.provisioning_password }}' | {{ '{{' }} .Vars }} sudo -E -S sh -c '{{ '{{' }} .Path }}'",
       "inline": [ "echo '{{ vagrant.provisioning_user }} ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/{{ vagrant.provisioning_user }}",
                  "chmod 0440 /etc/sudoers.d/{{ vagrant.provisioning_user }}"]
    },
    {  "type": "shell",
       "execute_command": "echo '{{ vagrant.provisioning_password }}' | {{ '{{' }} .Vars }} sudo -E -S sh -c '{{ '{{' }} .Path }}'",
       "inline": [ "yum -y install epel-release"]
    },
    {  "type": "shell",
       "execute_command": "echo '{{ vagrant.provisioning_password }}' | {{ '{{' }} .Vars }} sudo -E -S sh -c '{{ '{{' }} .Path }}'",
       "inline": [ "yum -y install bzip2 make dkms kernel-devel"]
    },
    {  "type": "shell",
       "execute_command": "echo '{{ vagrant.provisioning_password }}' | {{ '{{' }} .Vars }} sudo -E -S sh -c '{{ '{{' }} .Path }}'",
       "inline": [ "yum -y update"]
    },
    {  "type": "shell",
       "execute_command": "echo '{{ vagrant.provisioning_password }}' | {{ '{{' }} .Vars }} sudo -E -S sh -c '{{ '{{' }} .Path }}'",
       "inline": [ "reboot"],
       "expect_disconnect": true,
       "pause_before": "10s"
    },
    {  "type": "shell",
       "only": [ "virtualbox-iso" ],
       "execute_command": "echo '{{ vagrant.provisioning_password }}' | {{ '{{' }} .Vars }} sudo -E -S sh -c '{{ '{{' }} .Path }}'",
       "inline": [ "mount -t iso9660 -o ro /home/{{ vagrant.provisioning_user }}/VBoxGuestAdditions.iso /mnt",
                   "cd /mnt",
                   "./VBoxLinuxAdditions.run"]
    }
  ],
  "post-processors": [{
    "type": "vagrant",
    "output": "{{ box }}.box"
  }]
}
