{
  "builders": [{
    "vm_name": "{{ box }}",
    "type": "virtualbox-iso",
    "guest_os_type": "{{ guest_os_type }}",
    "iso_urls": [
      "{{ download_dir }}/{{ iso_name }}",
      "{{ iso_location }}/{{ iso_name }}"
    ],
    "iso_checksum": "{{ iso_checksum }}",
    "iso_target_path": "{{ download_dir }}/{{ iso_name }}",
    "iso_interface": "ide",

    "winrm_username": "vagrant",
    "winrm_password": "vagrant",
    "winrm_timeout": "12h",
    "communicator": "winrm",
    "headless": "true",

    "cpus": "{{ cpus }}",
    "memory": "{{ ram }}",
    "disk_size" : "{{ disk_size }}",
    "hard_drive_interface": "sata",
    "sata_port_count": 4,
    "hard_drive_nonrotational": true,

    "floppy_files": [
      "{{ floppy_dir }}/{{ unattended_file_path }}",
      "scripts/base_setup.ps1"
    ],
    "guest_additions_mode": "{{ guest_additions_mode }}",
    "guest_additions_path": "C:/users/vagrant/VBoxGuestAdditions.iso",
    "guest_additions_url": "{{ guest_additions_url }}",

    {% raw %}
    "vboxmanage": [
      [ "modifyvm", "{{.Name}}", "--vram", "48" ],
      [ "modifyvm", "{{.Name}}", "--audio", "none" ]
    ],
    {% endraw %}

    "shutdown_command": "shutdown /s /t 10 /f /d p:4:1 /c \"Packer Shutdown\"",
    "shutdown_timeout": "15m"
  }],
  "provisioners": [
    {
      "cookbook_paths": [
        "cookbooks"
      ],
      "guest_os_type": "windows",
      "run_list": [
        "packer::disable_uac",
        "packer::disable_onedrive",
        "packer::disable_restore",
        "packer::disable_windows_update",
        "packer::remove_defender",
        "packer::configure_power",
        "packer::disable_screensaver"
      ],
      "type": "chef-solo"
    },
    {
      "type": "windows-restart"
    },
    {
      "cookbook_paths": [
        "cookbooks"
      ],
      "guest_os_type": "windows",
      "run_list": [
        "packer::vm_tools",
        "packer::features",
        "packer::enable_file_sharing",
        "packer::enable_remote_desktop",
        "packer::ui_tweaks"
      ],
      "type": "chef-solo"
    },
    {
      "type": "windows-restart"
    },
    {
      "cookbook_paths": [
        "cookbooks"
      ],
      "guest_os_type": "windows",
      "run_list": [
        "packer::cleanup",
        "packer::defrag"
      ],
      "type": "chef-solo"
    },
    {
      "elevated_password": "vagrant",
      "elevated_user": "vagrant",
      "script": "scripts/cleanup.ps1",
      "type": "powershell"
    }
  ],
  "post-processors": [{
    "type": "vagrant",
    "output": "{{ box }}.box"
  }]
}
