#version=RHEL8
#ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
#clearpart --all --initlabel --drives=sda
# Use text install
text
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Use CDROM installation media
#cdrom
#repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
#Eject the media and reboot when finished
#kreboot --eject

# Additional repo for EPEL
repo --name="epel" --baseurl=http://dl.fedoraproject.org/pub/epel/8/Everything/x86_64/

# Network information
network  --bootproto=dhcp --device=enp0s31f6 --ipv6=auto --activate
network  --hostname=localhost.localdomain
#Root password
rootpw --lock
# Run the Setup Agent on first boot
firstboot --disable
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System services
services --enabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc
user --name=user --groups=wheel --plaintext --password=password

%packages
@^graphical-server-environment
kexec-tools
# Additions to support downloading and running Ansible playbooks
git-core
epel-release
ansible

%end

%post
chage -d 0 user
yum -y update
echo '[local]' >> /etc/ansible/hosts
echo 'localhost ansible_connection=local' >> /etc/ansible/hosts

%end

%addon com_redhat_subscription_manager 
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
